<!-- <table class="alermSearch-table">
	<tbody>
		<tr>
			<td class="td-name">级别</td>
			<td>
				<a class="active">全部</a>
				<a>一级</a>
				<a>二级</a>
				<a>三级</a>
			</td>
			<td class="td-name">时间</td>
			<td>
				<a class="active">一周</a>
				<a>一月</a>
				<a>自定义</a>
				<button class="tableMoreBtn">更多<i class="tableMoreBtnI"></i></button>
			</th>
		</tr>
		<tr class="display-tableTr">
			<td class="td-name">状态</td>
			<td colspan="3">
				<a class="active">全部</a>
				<a>未处理</a>
				<a>已解除</a>
				<a>自动处理</a>
				<a>处理中</a>
			</td>
		</tr>
		<tr class="display-tableTr">
			<td class="td-name">类型</td>
			<td colspan="3">
				<a class="active">全部</a>
				<a>强拆</a>
				<a>低电</a>
				<a>紧急呼救</a>
				<a>强拆</a>
				<a>低电</a>
				<a>紧急呼救</a>
				<a>强拆</a>
				<a>低电</a>
				<a>紧急呼救</a>
				<a>强拆</a>
				<a>低电</a>
				<a>紧急呼救</a>
			</td>
		</tr>
	</tbody>
</table> -->
<div class="searchValue">
	<div class="searchValue-messages pull-left">
		<span>未处理告警：<span>30</span>条</span>
<!-- 		<span>待处理警告：<span class="font-red">6</span></span>
		<span>已处理：<span class="font-blue">24</span></span>
		<span>自动处理：<span class="font-blue">16</span></span> -->
	</div>
	<div class="searchValue-btns pull-right">
		<a>解除</a>
		<a>推送ECU911</a>
		<a>电话</a>
		<a>短信</a>
	</div>
</div>
<div class="mtb">
	<table class="mytable table table-striped table-no-bordered table-condensed">
		
	</table>
	<div class="mtb-btngroup">跳转到<input class="ye"><button class="que">确定</button></div>
</div>
<script type="text/javascript" src="js/alarm.js"></script>
