<div class="user-info-text">
	<p class="user-info-text-tittle">GPS</p>
	<p class="row">
		<span class="col-md-6"><span>状态：</span>在线<i class="GPS-icon GPS-icon-0"></i></span>
		<span class="col-md-6"><span>电量：</span>80% <i class="power power-5"></i>
			<!-- <span class="power-pro" onload="power(this,20)">
				<span class="progress">
					<span class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
					</span>
				</span>
			</span>
			<span class="power-pro" onload="power(this,100)">
				<span class="progress">
					<span class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
					</span>
				</span>
			</span> -->
		</span>
	</p>
	<p class="row"><span class="col-md-6"><span>名称：</span>设备名称设备名称设备名称设备名称</span><span class="col-md-6"><span>IMEI号：</span>13287329683</span></p>
	<p class="row"><span class="col-md-6"><span>编号：</span>37932032382</span><span class="col-md-6"><span>型号：</span>UER2341</span></p>
</div>
<div class="user-info-text">
	<p class="user-info-text-tittle">蓝牙基站</p>
	<p class="row"><span class="col-md-6"><span>名称：</span>基站名称设备名称设备名称设备名称</span><span class="col-md-6"><span>编号：</span>12345556666777</span></p>
	<p><span><span>经纬度：</span>45.422381,64.565566 北纬N45°25′20.57″ 东经E64°33′56.04″</span></p>
	<p class="border-line"></p>
	<p class="row"><span class="col-md-6"><span>名称：</span>基站名称设备名称设备名称设备名称</span><span class="col-md-6"><span>编号：</span>12345556666777</span></p>
	<p><span><span>经纬度：</span>45.422381,64.565566 北纬N45°25′20.57″ 东经E64°33′56.04″</span></p>
</div>
<script type="text/javascript">
// power(20)
</script>
<link rel="stylesheet" type="text/css" href="css/power&GPS.css">