<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../css/index.css" />
	<link rel="stylesheet" href="../../css/modal.css" />
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="../../js/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="../../bootstrap/js/bootstrap.min.js"></script>

	<!-- <script src="../../js/index.js"></script> -->

	<script src="../../js/html5shiv.js"></script>
	<script src="../../js/respond.min.js"></script>
</head>
<body>
	<!-- 发送短信 -->
	<div id="alertSMS" class="alert-box" >
		<div class="alert-search-head">发送短信<a href="javascript:;" class="alertClosebtn"><i class="alert-search-closeBtn pull-right"></i></a></div>
		<div class="alert-search-content alert-center clearfix alertSMS-btns">
			<button class="btns-value pull-left">解除理由的常用语句解除理</button>
			<button class="btns-value pull-left">解除理由的常用语句解除理由的常</button>
			<button class="btns-value pull-left">解除理由的</button>
			<button class="btns-value pull-left">解除理由的常用语句解除</button>
			<button class="btns-value pull-left">解除理由的常用语句解除理由的常用</button>
			<button class="btns-value pull-left">解除理由的常用语句解</button>
			<button class="btns-value pull-left">解除理由的常用语句解除理由</button>
			<textarea class="textarea-window pull-left" placeholder="短信内容"></textarea>
		</div>
		<div class="alert-box-btns">
			<a id="SMSbtn">发送短信</a>
		</div>
	</div>
	<!-- 推送ECU911 -->
	<div id="alertECU" class="alert-box" style="display:none">
		<div class="alert-search-head">推送ECU911<a href="javascript:;" class="alertClosebtn"><i class="alert-search-closeBtn pull-right"></i></a></div>
		<div class="alert-search-content alert-center clearfix alertSMS-btns">
			<button class="btns-value pull-left">解除理由的常用语句解除理</button>
			<button class="btns-value pull-left">解除理由的常用语句解除理由的常</button>
			<button class="btns-value pull-left">解除理由的</button>
			<button class="btns-value pull-left">解除理由的常用语句解除</button>
			<button class="btns-value pull-left">解除理由的常用语句解除理由的常用</button>
			<button class="btns-value pull-left">解除理由的常用语句解</button>
			<button class="btns-value pull-left">解除理由的常用语句解除理由</button>
			<textarea class="textarea-window pull-left" placeholder="推送理由"></textarea>
		</div>
		<div class="alert-box-btns">
			<a id="SMSbtn">推送ECU911</a>
		</div>
	</div>
	<!-- 解除告警 -->
	<div id="alertAlarm" class="alert-box" style="display:none">
		<div class="alert-search-head">解除告警<a href="javascript:;" class="alertClosebtn"><i class="alert-search-closeBtn pull-right"></i></a></div>
		<div class="alert-search-content alert-center clearfix alertSMS-btns">
			<button class="btns-value pull-left">解除理由的常用语句解除理</button>
			<button class="btns-value pull-left">解除理由的常用语句解除理由的常</button>
			<button class="btns-value pull-left">解除理由的</button>
			<button class="btns-value pull-left">解除理由的常用语句解除</button>
			<button class="btns-value pull-left">解除理由的常用语句解除理由的常用</button>
			<button class="btns-value pull-left">解除理由的常用语句解</button>
			<button class="btns-value pull-left">解除理由的常用语句解除理由</button>
			<textarea class="textarea-window pull-left" placeholder="解除原因"></textarea>
		</div>
		<div class="alert-box-btns">
			<a>解除告警</a>
		</div>
	</div>
</body>
</html>